<?xml version="1.0" encoding="UTF-8"?>  
<databaseChangeLog  
  xmlns="http://www.liquibase.org/xml/ns/dbchangelog"  
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
  xmlns:pro="http://www.liquibase.org/xml/ns/pro"  
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-4.2.xsd
      http://www.liquibase.org/xml/ns/pro http://www.liquibase.org/xml/ns/pro/liquibase-pro-4.2.xsd">
    
<include file="./changelog/partials/create-users-table.xml"/>
<!-- Load data to Users table  -->

    <changeSet author="liquibase" id="3">
        <loadData encoding="UTF-8"
            file="./changelog/data/users.csv"
            separator=","
            tableName="Users"
        />
        <rollback>
            <delete tableName="Users">
            </delete>
        </rollback>
    </changeSet>
<include file="./changelog/partials/rename-UserEmail-to-Email.xml"/>
<include file="./changelog/partials/rename-table-Users-to-Customers.xml"/>
<include file="./changelog/partials/split-column-Name-to-First-and-Last-Name.xml"/>
<include file="./changelog/partials/null-to-not-null-Last-and-First-Name.xml"/>
</databaseChangeLog>